body {
    margin: 0;
    background-color: #F8F4E3;
}

h1 {

    text-align: center;
    color: #37123C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #37123C;
    font-size: 1.5em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #210924;
}
main {
background-color: #A99F96;
color: #71677C;
padding: 20px;
overflow: hidden;
margin: 0 25px

}


img {
    float: left;
    width : 30%;
    margin: 35px    

}